.pokedexs {
    background-color: rgba(255, 255, 255, .4);
    border: .1rem solid rgba(255, 255, 255, .8);
    border-radius: .5rem;
    padding: 1rem 2rem;
    perspective: 600px;
    transition: background-color 500ms;
}

.pokedex__transition {
    text-align: left;
}

.pokedexs__list {
    align-items: start;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
}

.pokedexs__title {
    border-bottom: .2rem solid rgba(255, 255, 255, .5);
    font-family: "Segoe WP Light", sans-serif;
    font-size: 2.4rem;
    margin: 1rem 0 .5rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}

.pokedexs__item {
    border: .1rem solid #bada55;
    border-radius: .5rem .5rem 0 0;
    display: grid;
    padding: 0 .1rem;

}

.pokedexs__name {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem;
    text-transform: capitalize;
    transition: background, border, color, letter-spacing, text-decoration;
    transition-duration: 500ms;
}

.pokedexs__name:hover {
    background-color: rgba(255, 255, 255, 1);
}

.pokemons .pokedexs__name ~ ul,
.pokemons .pokedexs__item--list {
    background-color: rgba(255, 255, 255, .8);
    margin: 1rem;
    text-transform: capitalize;
}

.pokedexs__name:hover {
    color: #047;
    letter-spacing: .2rem;
}

.pokedexs__description {
    font-size: 1.6rem;
    margin: 0;
    padding: 0 1rem;
}
