.pokemons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    text-align: left;
    transition: background-color 500ms;
}

.pokemons h2 {
    font-family: "Segoe WP Light", sans-serif;
    grid-column: span 2;
}

ul {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
}

.pokemons__pokenav {
    background-color: #bada55;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: .5rem;
    box-shadow: -.5rem 1rem 2rem -.5rem #8ada40;
    padding: 1rem;
    transition: box-shadow 500ms;
}

.pokemons__pokenav:hover {
    box-shadow: .5rem 1rem 2rem -.5rem #8ada40;
}

.pokenav__list {
    perspective: 60rem;
}

.pokemons__pokenav a {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .8);
    color: #004477;
    cursor: pointer;
    display: block;
    margin: .3rem 0;
    padding: .6rem 2rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 500ms, padding 500ms;
}

.theme-orange .pokemons__pokenav a {
    color: white;
}

.pokemons__pokenav a.active {
    background-color: rgba(255, 255, 255, .6);
    padding: 1rem 2rem;
}

.theme-orange .pokemons__pokenav a.active {
    color: black;
}

.pokemons__pokenav li a:hover {
    padding-left: 3rem;
}

.pokemons .loading {
    position: relative;
}

.pokemons .loading::before {
    animation: 800ms spin ease-out infinite;
    content: "\E895";
    font-family: "Segoe MDL2 Assets", monospace;
    font-size: 3rem;
    left: 2rem;
    position: absolute;
    top: 2rem;
}

@keyframes spin {
    from {
        transform: rotateZ(0) scale(1)
    }
    to {
        transform: rotateZ(360deg) scale(1)
    }
}

.pokemons .pokemon-name,
.pokemon h3 {
    margin: 0;
    padding: 1.8rem;
    text-transform: capitalize;
}

.pokemon {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .5rem;
    cursor: default;
    position: relative;
}

.pokemon__close {
    color: #047;
    font-size: 3rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    transition: color 500ms;
}

.pokemon__close:hover {
    color: orangered;
}

.pokemon .meta {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 3rem 0 1rem;
}

.pokemon .meta .stats {
    grid-column: 2 / 5;
}

.pokemon .meta .stats .stat {
    display: block;
}

.pokemon .meta .pokemoves__title {
    grid-column: 1 / 2;
}

.pokemon .meta .pokemoves {
    grid-column: 1 / 5;
}

.pokemon .meta__child {
    display: inline-block;
    text-transform: capitalize;
}

.pokemon .meta__child:not(:last-child):not(.stat)::after {
    content: ",";
    padding-right: .5rem;
}

.pokemon .meta dt {
    border-right: 1px solid #bada55;
}

.pokemon .meta dd {
    margin: 0;
    text-align: left;
}

.pokemon-animation {
    transform-origin: left;
}

.pokemon-animation-enter {
    opacity: 0;
    transform: rotateY(90deg);
    transform-origin: left;
}

.pokemon-animation-enter.pokemon-animation-enter-active {
    opacity: 1;
    transform: rotateY(0);
    transition: opacity 500ms ease-in, transform 300ms ease-in;
    transform-origin: left;
}

.pokemon-animation-leave {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
}

.pokemon-animation-leave.pokemon-animation-leave-active {
    opacity: 0;
    transform: rotateY(90deg);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    transform-origin: left;
}

.pokemon-inner-animation-enter {
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.pokemon-inner-animation-enter.pokemon-inner-animation-enter-active {
    opacity: 1;
    text-shadow: 1px 1px 4px white;
    transform: rotateX(0);
    transition: opacity 500ms ease-in, text-shadow 500ms, transform 500ms ease-in;
    transform-origin: top;
}

.pokemon-inner-animation-leave {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: top;
}

.pokemon-inner-animation-leave.pokemon-inner-animation-leave-active {
    opacity: 0;
    text-shadow: 1px 1px 4px white;
    transform: rotateX(-90deg);
    transition: opacity 300ms ease-in, text-shadow 300ms, transform 300ms ease-in;
    transform-origin: top;
}

.pokemoves__summary {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pokemoves__summary::-webkit-details-marker {
    color: #bada55;
}

.pokemoves__details {
}

@media screen and (max-width: 768px) {
    .pokemons {
        grid-gap: 1vmax 0;
        grid-template-columns: auto;
        text-align: center;
    }

    .pokemons h2 {
        grid-column: auto;
    }

    .pokemon .meta {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1vmax;
        margin: 1rem;
        padding: 2rem 0 1rem;
    }

    .pokemon .meta .pokemoves__title {
        grid-column: 1 / 2;
        text-align: left;
    }

    .pokemon .meta .pokemoves {
        grid-column: 1 / 5;
    }
}

.pokesearch-form {
    margin: 2rem 0;
}

.pokesearch-row {
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
}

.btn-group {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.pokenav__header {
    font-family: "Segoe WP Light", sans-serif;
    margin: 0;
    padding: 1rem;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .pokesearch-form {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    .pokesearch-row {
        justify-items: start;
        padding: 1rem;
    }

    .btn-group {
        grid-template-columns: 1fr 1fr;
        justify-items: auto;
        padding: 1rem;
    }

    .pokenav__list {
    }

    .pokenav__list .pokenav {
        padding: 0 1rem;
    }
}

#select-limit {
    justify-self: start;
    width: stretch;
}

.btn {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #bada55;
    display: inline-block;
    padding: .5rem 3rem;
    transition: border-color 500ms;
}

.btn:disabled {
    background-color: rgba(255, 255, 255, .2);
    cursor: not-allowed;
}

.btn:not(:disabled):hover {
    border-color: green;
}
