.pokemon__sprites {
    height: 10rem;
    margin: 3rem auto;
    perspective: 600px;
    width: 10rem;
}

.pokemon__sprites--line {
    height: auto;
    margin: 3rem auto;
    perspective: 600px;
    width: auto;
}

.pokemon__sprites--line .cube {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.pokemon__sprites .cube {
    animation: 8s sprite_cube linear infinite;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
    transition: transform 600ms;
    width: inherit;
}

.pokemon__sprites .cube-face {
    background-color: rgba(255, 255, 255, .9);
    height: inherit;
    margin: 0;
    position: absolute;
    opacity: .8;
    width: inherit;
}

.pokemon__sprites--line .cube-face {
    border: 0;
    opacity: 1;
    position: static;
}

.pokemon__sprites .cube-face:nth-of-type(1) {
    transform: translate3d(0, 0, 50px);
}

.pokemon__sprites .cube-face:nth-of-type(2) {
    transform: rotateY(90deg) translate3d(0, 0, 50px);
}

.pokemon__sprites .cube-face:nth-of-type(3) {
    transform: rotateY(-90deg) translate3d(0, 0, 50px);
}

.pokemon__sprites .cube-face:nth-of-type(4) {
    transform: rotateY(180deg) translate3d(0, 0, 50px);
}

/* uncube */
.pokemon__sprites--line .uncube .cube-face:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.pokemon__sprites--line .uncube .cube-face:nth-of-type(2) {
    transform: rotateY(0) translate3d(0, 0, 0);
}

.pokemon__sprites--line .uncube .cube-face:nth-of-type(3) {
    transform: rotateY(0) translate3d(0, 0, 0);
}

.pokemon__sprites--line .uncube .cube-face:nth-of-type(4) {
    transform: rotateY(0) translate3d(0, 0, 0);
}

@keyframes sprite_cube {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}
