.App {
    align-items: center;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: Consolas, "Courier New", monospace;
    text-align: center;
}

.App-header {
    animation: accordion ease-in-out 12000ms alternate infinite;
    background-color: white;
    border-bottom: .1rem solid forestgreen;
    text-align: left;
}

@keyframes accordion {
    from {
        letter-spacing: 2rem;
    }
    to {
        letter-spacing: -.8rem;
    }
}

.App-foot {
    padding: 2rem 0;
}

h1 {
    font-weight: normal;
    font-size: 4.2rem;
    margin: 0;
    padding: 1rem;
}

.passwords {
    font-size: 3.4rem;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0;
    text-shadow: 0 0 .5rem #bada55;
}

.btn {
    cursor: pointer;
    border-radius: .5rem;
}

.more {
    background-color: #fff;
    border: .2rem solid #000;
    box-shadow: 0 1.5rem 1rem -.5rem #bada55;
    font-size: 3.2rem;
    font-family: "Trebuchet MS", "Courier New", monospace;
    padding: 1rem 2.5rem;
}

.more:hover {
    background-color: #FDD836;
}

.more:active {
    background-color: #FFEFA9;
}

.quote {
    margin: auto;
    max-width: 70vw;
}

.quote a {
    text-decoration: none;
}

.other-quote {
    background-color: transparent;
    border: 0;
    border-top: .1rem solid #bada55;
    cursor: pointer;
    font-family: Consolas, 'Liberation Mono', Menlo, "Courier New", monospace;
    font-size: 1.6rem;
    margin: .2rem;
    padding: 1rem 2rem;
    transition: border-color 250ms;
}

.other-quote:hover {
    border-top-color: black;
}

.other-quote:active {
    border: 0;
    outline: 0;
}
