.App {
    display: grid;
    grid-template-rows: min-content max-content 1fr min-content;
    font-family: Consolas, "Courier New", monospace;
    text-align: center;
}

.App-header {
    animation: accordion ease-in-out 12000ms alternate infinite;
    background-color: white;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes accordion {
    from {
        letter-spacing: .2rem;
    }
    to {
        letter-spacing: -.8rem;
    }
}

.App nav {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.App nav a, .App nav a:link, .App nav a:visited {
    background-color: #bada55;
    color: #047;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 500ms, color 500ms;
}

.App nav a:hover, .App nav a:focus {
    background-color: rgba(255, 255, 255, .5);
    color: black;
}

.App nav a.active {
    background-color: white;
}

.content {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr;
}

.App-foot {
    padding: 2rem 0;
}

h1 {
    font-weight: normal;
    font-size: 4.2rem;
    margin: 0;
    padding: 1rem;
}

.quote {
    margin: auto;
    max-width: 70vw;
}

.quote a {
    text-decoration: none;
}

.other-quote::before {
    content: "\E72C";
    display: inline-block;
    font-family: "Segoe MDL2 Assets", monospace;
    margin-right: 1rem;
}

.other-quote {
    background-color: rgba(255, 255, 255, .2);
    border: .1rem solid #bada55;
    border-radius: .5rem;
    cursor: pointer;
    font-family: Consolas, 'Liberation Mono', Menlo, "Courier New", monospace;
    font-size: 1.6rem;
    margin: .2rem;
    padding: 1rem 2rem;
    transition: border-color 250ms;
}

.other-quote:hover {
    border-top-color: black;
}

.other-quote:active {
    border: 0;
    outline: 0;
}
