.passwords {
    font-size: 3.4rem;
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    text-shadow: 0 0 .5rem #bada55;
}

.btn {
    cursor: pointer;
    border-radius: .5rem;
}

.more {
    background-color: #fff;
    border: .2rem solid #000;
    box-shadow: 0 1.5rem 1rem -.5rem #bada55;
    font-size: 3.2rem;
    font-family: "Trebuchet MS", "Courier New", monospace;
    padding: 1rem 2.5rem;
}

.more:hover {
    background-color: #FDD836;
}

.more:active {
    background-color: #FFEFA9;
}

.password-animation {
    border: 1px solid orangered;
}

.password-animation-enter {
    opacity: 0;
}

.password-animation-enter.password-animation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.password-animation-leave {
    opacity: 1;
}

.password-animation-leave.password-animation-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}